html {
  height: 100%;
  width: 100%;
  background-color: #fffff2;
}

#app {
  font-family: 'Oswald', sans-serif;
}

.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.area-name-block {
  height: 10vh;
  background-color: #f1c40f;
  position: relative;
}

.area-name {
  margin: 0;
  font-size: 4vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seats-block-container {
  height: 45vh;
  position: relative;
  text-align: center;
  /*border-bottom: 2px solid #000;*/
}

.seats-block {
  width: 20vh;
  height: 30vh;
  display: inline-block;
  text-align: center;
  position: relative;
}

.empty-seats-color {
  background-color: #2ecc71;
}

.occupied-seats-color {
  background-color: #c0392b;
}

.space-filler {
  padding: 10px;
}

.seats-number {
  color: #ecf0f1;
  font-size: 10vh;
  position: absolute;
  top: 5vh;
  left: 0;
  right: 0;
}

.seats-label {
  color: #ecf0f1;
  font-size: 2vh;
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
}

.visualised-seats-container {
  height: 45vh;
  width: 100%;
  position: relative;
  text-align: center;
}

.visualised-seats-block {
  height: 40vh;
  width: 40%;
  display: inline-block;
  text-align: center;
  position: relative;
  /*border: 2px solid #3498db;*/
}

.table {
  height: 45%;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8da9e;
}

.seat {
  border-radius: 100%;
  width: 75px;
  height: auto;
  padding-top: 75px;
}

.seat.top {
  position: absolute;
  top: 5%;
}

.seat.bottom {
  position: absolute;
  bottom: 5%;
}

.seat.left {
  position: absolute;
  left: 25%;
}

.seat.right {
  position: absolute;
  right: 25%;
}
